@import "wp.css";
@import "../../.global-css/teatime-palatte.css";

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
}

window#waybar {
	/* background-color: @base; */
	background-color: @bg;

	border: solid 2px @pink;
	border-radius: 15px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left, .modules-center, .modules-right, #cpu, #memory, #temperature, #pulseaudio, #network, #battery, #tray {
	border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
	padding-right: 15px;
	padding-left: 15px;
}

/* ------ Modules Center ------ */
.modules-center {
	padding-right: 10px;
	padding-left: 10px;
}

/* ------ Modules Right ------ */
.modules-right {
	padding-right: 15px;
	padding-left: 15px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu, #temperature, #memory {
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Window Title ------ */
#window { color: @text; }

/* ------ Workspaces ------ */
#workspaces button:nth-child(n) label {
	color: @pink;
	padding: 8px 8px;
}

#workspaces button:nth-child(2n) label {
	color: @sky;
	padding: 8px 8px;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
	color: @text;
	/* background-color: @surface1; */
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Network ------ */
#network {
	color: @text;
	/* background-color: @surface1; */
	padding: 0px 5px 0px 0px;
	margin: 4px 2px;
}

/* ------ Battery ------ */
#battery {
	color: @text;
	/* background-color: @surface1; */
	/* padding: 2px 5px; */
	/* margin: 4px 2px; */
}

#bluetooth {
	color: @text;
}

/* ------ Clock ------ */
#clock {
	padding-left: 3px;
	color: @text;
	/* font-size: 20px; */
}

/* ------ Screen Brightness ------ */
#backlight {
	padding: 0px;
	color: @text;
}

/* ------ Volume ------ */
#pulseaudio {
	padding: 0px;
	color: @text;
}

/* ------ System Tray ------ */
#tray {
	color: @pink;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
	font-size: 25px;
	color: @blue;
	padding-right: 10px;
}

#custom-separator-arrow {
	font-size: 20px;
	color: @text;
}

#custom-separator-dot {
	font-size: 20px;
	color: @text;
}

#custom-spotify {
	color: @pink;
	background-color: @surface1;
	padding: 2px 5px;
	margin: 4px 2px;
}
