@import "mocha.css";

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
}

window#waybar {
  /* background-color: @base; */
  background-color: rgba(30, 30, 46, 0.85);
  border-radius: 20px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left, .modules-center, .modules-right, #cpu, #memory, #temperature, #pulseaudio, #network, #battery, #tray {
  border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
  padding-right: 15px;
  padding-left: 15px;
}

/* ------ Modules Center ------ */
.modules-center {
  padding-right: 10px;
  padding-left: 10px;
}

/* ------ Modules Right ------ */
.modules-right {
  padding-right: 15px;
  padding-left: 15px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu, #temperature, #memory {
  padding: 2px 5px;
  margin: 4px 2px;
}

#cpu { color: @peach; }
#memory { color: @mauve; }
#temperature { color: @maroon; }

/* ------ Window Title ------ */
#window { color: @text; }

/* ------ Workspaces ------ */
#workspaces button:nth-child(n) label {
  color: @mauve;
  padding: 8px 8px;
}

#workspaces button:nth-child(2n) label {
  color: @sapphire;
  padding: 8px 8px;
}

/* #workspaces button:nth-child(3) label { */
/*   color: @maroon; */
/*   padding: 8px 8px; */
/* } */
/**/
/* #workspaces button:nth-child(4) label { */
/*   color: @peach; */
/*   padding: 8px 8px; */
/* } */

/* ------ Pulseaudio ------ */
#pulseaudio {
  color: @text;
  /* background-color: @surface1; */
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Network ------ */
#network {
  color: @text;
  /* background-color: @surface1; */
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Battery ------ */
#battery {
  color: @text;
  /* background-color: @surface1; */
  /* padding: 2px 5px; */
  /* margin: 4px 2px; */
}

#bluetooth {
	color: @text;
}

/* ------ Clock ------ */
#clock {
  padding-left: 10px;
  color: @text;
  /* font-size: 20px; */
}

/* ------ Screen Brightness ------ */
#backlight {
  padding-left: 10px;
  color: @text;
}

/* ------ System Tray ------ */
#tray {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 25px;
  color: @blue;
  padding-right: 10px;
}

#custom-separator-arrow {
  font-size: 20px;
  color: @text;
}

#custom-separator-dot {
  font-size: 20px;
  color: @text;
}

#custom-spotify {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}
